@font-face {
    font-family: 'Nunito-Regular';

src: url(../fonts/Nunito_Sans/static/NunitoSans_10pt-Regular.ttf)
}
@font-face {
  font-family: 'Nunito-Bold';

src: url(../fonts/Nunito_Sans/static/NunitoSans_10pt-Bold.ttf)
}
@font-face {
  font-family: 'Sour-Gummy';
  src: url(../fonts/Sour_Gummy/static/SourGummy-Bold.ttf);
}
:root {
    --background-color: var(--beige);
    --beige: #F8F5F2;
    --brown: #261616;
    --darkgrey: #121212;
    --font-bold: 'Sour-Gummy', var(--font-serif);
    --font-serif: 'Nunito-Regular', Verdana, serif;
    --foreground-color: var(--brown);
    --fushcia: #9E193B;
    --mediumgrey: #232323;
    --red: #9E271A;
    --rhythm: 1.5rem;
}
*   {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* General */
body{
    background-color: var(--background-color);
    color: var(--foreground-color);
    font-family: var(--font-serif);
    font-size: 100%;
}

h1,
h2,
h3 {
    font-family: var(--font-bold);
    margin: 0;
    text-align: center;
}

p {
    font-weight: lighter;
    line-height: 1.3;
    margin: 0 0;
    padding: 10px;
}

.btn {
    background-color: var(--beige);
    border: 2px solid var(--red);
    color: var(--red);
    cursor: pointer;
    font-size: 14px;
    padding: 12px 24px;
    text-align: center;
    text-decoration: none;
}
.button {
    align-items: center;
    display: flex;
    height: 50px;
    justify-content: center;
    padding-bottom: 45px;
    padding-top: 30px;
}



/* Navigation Bar */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 25px;
    position: relative;
    width: 100%;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.pages{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
.pages li{
    list-style: none;
}
.navlink{
    text-decoration: none;
    padding: 10px;
    margin: 10px;
}
/* Resume */

.resume-info ul{
    margin: 5px 30px 30px 20px;
}

.resume-info ul li{
    list-style: inside;
    margin: 0px 30px 5px 30px;
}

.resume-container{
    margin: 50px;
}


.resume-info{
    display: grid;
    grid-template-columns: 40% 60%;
}

/*2D Work*/

.work img, video {
    width: 100%;
}

.work {
    max-width: 928px;
    margin: auto;
}

/* section { 
    margin: 3rem auto;
    max-width: 75ch;
    padding: 3rem;
} */

@media (max-width: 440px) {
    header {
        cursor: pointer;
        height: 1.25rem;
        position: fixed;
        right: 1rem;
        top: 1rem;
        width: 1.625rem;
        z-index: 1001;
      }
      
    span {
        background-color: var(--red);
        border-radius: 2px;
        display: block;
        height: 3px;
        position: absolute;
        transform-origin: left;
        width: 100%;
      }
      
    span:nth-child(1) {
        top: 0;
      }
      
    span:nth-child(2) {
        top: 0.5rem;
      }
      
    span:nth-child(3) {
        top: 1rem;
      }

ul {
  list-style: none;
  margin: 0;
  padding: 2rem;
}

li {
  margin-bottom: 1rem;
}

a {
  color: var(--red);
  text-decoration: none;
}
  /* Show nav when checkbox is checked */
  .nav-toggle:checked ~ nav {
      right: 0;
  }  
  .nav-toggle:checked ~ .nav-toggle-label span:nth-child(1) {
      top: -2px;
      transform: rotate(45deg);

      /* Fix */
  }  
  .nav-toggle:checked ~ .nav-toggle-label span:nth-child(2) {
      opacity: 0;
  }  
  .nav-toggle:checked ~ .nav-toggle-label span:nth-child(3) {
      transform: rotate(-45deg);
  }
}

/* Footer */

.footer {
    background-color: var(--brown);
    color: var(--beige);
    margin-top: 40px;
    padding: 10px;
    text-align: center;
}
footer section{
    padding: 5px;
}
footer a{
    color: var(--beige);
    font-size: 1rem;
    padding: 15px;
}

/* Banner */

.banner{
    display: flex;
    justify-content: center;
}
img.bannerimg{
    width: 100%;
}

/* work */

.portfolio{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: auto;
    padding: 45px;
}
.portfolio img{
    width: 100%;
}
.work2 img{
    width: 56%;
    display: block;
    margin: auto;
}

.work1 img{
    width: 100%;
    display: block;
    margin: auto;
}

.gallery, .about {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
    justify-items: center;
    margin: 30px
}

@media screen and (max-width: 480px) {

        div.gallery {
            grid-template-columns: 1fr;
        }
        img.regular {
            grid-row: auto;
            grid-column: auto;
        }
        img.wide {
            grid-column: auto;
        }
    
    }