@font-face {
    font-family: 'Nunito-Regular';

src: url(../fonts/Nunito_Sans/static/NunitoSans_10pt-Regular.ttf)
}
@font-face {
  font-family: 'Nunito-Bold';

src: url(../fonts/Nunito_Sans/static/NunitoSans_10pt-Bold.ttf)
}
@font-face {
  font-family: 'Sour-Gummy';
  src: url(../fonts/Sour_Gummy/static/SourGummy-Bold.ttf);
}
:root {
    --background-color: var(--beige);
    --beige: #F8F5F2;
    --brown: #261616;
    --darkgrey: #121212;
    --font-bold: 'Sour-Gummy', var(--font-serif);
    --font-serif: 'Nunito-Regular', Verdana, serif;
    --foreground-color: var(--brown);
    --fushcia: #9E193B;
    --mediumgrey: #232323;
    --red: #9E271A;
    --rhythm: 1.5rem;
}
*   {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* General */
body{
    background-color: var(--background-color);
    color: var(--foreground-color);
    font-family: var(--font-serif);
    font-size: 100%;
}

h1,
h2,
h3 {
    font-family: var(--font-bold);
    margin: 0;
}

p {
    font-weight: lighter;
    line-height: 1.3;
    font-size: 1rem;
    margin: 0 0;
}

.btn {
    background-color: var(--beige);
    border: 2px solid var(--red);
    color: var(--red);
    cursor: pointer;
    font-size: 14px;
    padding: 12px 24px;
    text-align: center;
    text-decoration: none;
}

.button :hover{
    background-color: var(--red);
    color: var(--beige);
    transition: all 0.3s ease-in-out;
}
.button {
    align-items: center;
    display: flex;
    height: 50px;
    justify-content: center;
    padding-bottom: 45px;
    padding-top: 30px;
}



/* Navigation Bar */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 25px;
    position: relative;
    width: 100%;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.pages{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
.pages li{
    list-style: none;
}
.pages li a{
    color: var(--red);
    font-size: 1.3rem;
}
.navlink{
    text-decoration: none;
    padding: 10px;
    margin: 10px;
}

@media (max-width: 440px) {
    .pages {
        display: flex;
        flex-direction: column;
        background-color: var(--beige);
        position: fixed;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        padding: 2rem;
        align-items: center;
        justify-content: center;
        transform: translateX(100%);
    }

    .pages li {
        text-align: center;
        padding: 0.5rem 0;
    }

    .pages a {
        color: var(--red);
        text-decoration: none;
        font-size: 1.5rem;
    }

    #nav-toggle:checked ~ .pages {
        transform: translateX(0);
    }

    .nav-toggle-label {
        display: flex;
        flex-direction: column;
        cursor: pointer;
        position: fixed;
        top: 1rem;
        right: 1rem;
        z-index: 1002;
    }
    .nav-toggle-label span {
        background-color: var(--red);
        border-radius: 2px;
        display: block;
        height: 3px;
        width: 25px;
        margin: 3px 0;
        transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    }

    .nav-toggle:checked ~ .nav-toggle-label span:nth-child(1) {
        transform: rotate(45deg) translate(5px, 7px);
    }

    .nav-toggle:checked ~ .nav-toggle-label span:nth-child(2) {
        opacity: 0;
    }

    .nav-toggle:checked ~ .nav-toggle-label span:nth-child(3) {
        transform: rotate(-45deg) translate(5px, -7px);
    }
}

/* Footer */

footer {
    background-color: var(--brown);
    color: var(--beige);
    margin-top: 40px;
    padding: 10px;
    text-align: center;
}

footer section{
    padding: 5px;
}
footer a{
    color: var(--beige);
    font-size: 1rem;
    padding: 15px;
}

/* Banner */

.banner{
    display: flex;
    justify-content: center;
}
img.bannerimg{
    width: 100%;
}

/* work */

.portfolio{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: auto;
    width: 80%;
    padding: 45px;
}
.portfolio img{
    width: 100%;
}
.work2 img{
    width: 56%;
    display: block;
    margin: auto;
}

.work1 img{
    width: 100%;
    display: block;
    margin: auto;
}

.portfolio h2{
    text-align: center;
    padding: 15px 0;
    font-size: 1.75rem;
}

.work img, video {
    width: 100%;
}

.work {
    max-width: 928px;
    margin: auto;
}

.work h2 {
    padding-bottom: 10px;
}

.work h3 {
    padding-top: 10px;
}

.previous a {
    color: var(--red);
    text-decoration: none;
}

.previous a :hover {
    color: var(--brown);
    transition: all 0.3s ease-in-out;
}

.work-container img, video {
    width: 100%;
}

.work-container {
    max-width: 1020px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: auto;
    margin: auto;
    gap: 45px;
}

.work-container h2 {
    text-align: center;
    padding-bottom: 10px;
}

/* Resume */

.resume-info ul{
    margin: 5px 30px 30px 20px;
}

.resume-info ul li{
    list-style: inside;
    font-size: 1.2rem;
}

.resume-container{
    margin: 20px;
    padding: 45px;
}

.resume-info{
    display: grid;
    grid-template-columns: 40% 60%;
    gap: 30px;
}

.resume-info h2{
    text-align: left;
    padding: 15px 0;
    font-size: 1.75rem;
}

.resume-info h3{
    text-align: left;
    padding: 10px 0;
    font-size: 1.3rem;
}

.resumebutton {
    text-align: right;
    padding-bottom: 50px;
    padding-top: 35px;
}

.resumebutton :hover{
    background-color: var(--red);
    color: var(--beige);
    transition: all 0.3s ease-in-out;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    justify-items: center;
    align-items: center;
    gap: 20px;
}

.gallery-item {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
    transition: transform 0.2s ease-in-out;
}

.gallery-item:hover {
    transform: scale(1.05);
}

.about {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
}

.about-me {
    margin: auto;
    padding-right: 60px;
}


.about img{
    width: 100%;
}

.about h1{
    margin: 15px 25px;
    text-align: left;
}

.about p{
    margin: 10px 25px 10px 25px;
    text-align: left;
    font-size: 1.2rem;
    line-height: 1.8rem;
}
.contact {
    margin: 1.5rem;
}

.contact a{
    color: var(--brown);
    padding: 0px 5px;
    font-size: 1.6rem;
    margin-right: 20px;
}

.contact a:hover {
    color: var(--red);
    transition: all 0.3s ease-in-out;
}

@media (max-width: 768px) {
    
.portfolio{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: auto;
    width: 80%;
    padding: 25px;
}

.work-container {
    max-width: 928px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
}

.projectinfo {
    padding: 10px 50px 30px 5px;
}

.previous, .work h2{
    padding-left: 5px; 
}

.about-me {
    margin: auto;
    padding: 25px 0;
}

.resume-container{
    margin: auto;
    padding: 45px;
}
}

@media (max-width: 480px) {

.portfolio{
    display: grid;
    grid-template-columns: 1fr;
    margin: auto;
    padding: 2rem;

}


.resume-container{
    margin: auto;
    padding: 20px 45px;
}


.work-container {
    display: grid;
    grid-template-columns: 1fr;


}

.projectinfo {
    padding: 10px 50px 30px 5px;
}

.gallery {
    grid-template-columns: 1fr;
    gap: 15px;
    padding-left: 50px;
    padding-right: 50px;
}

.resume-info{
    display: grid;
    grid-template-columns: 1fr;


}

.about {
    display: grid;
    grid-template-columns: 1fr;
    margin: 10px;
    align-items: center;
}

.about img {
    width: 100%;
}

.about h1{
    font-size: 2.5rem;
}
}  